<tr class= "nested-fields">
  <td>
    <%= link_to_remove_association "", f, class: "fas fa-trash-alt" %>
  </td>
  <td class="input-fields"> <%= f.input :name, label: false, :placeholder => 'Name' %></td>
  <td class="input-fields"> <%= f.input :description, label: false, :placeholder => 'Description...' %></td>
</tr>
