<div class="row-banner">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dgccrihdr/image/upload/v1533801082/new_banner.jpg');">
    <div class="banner-content">
      <h1>Listy</h1>
      <p>Share with other people what you love</p>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>
</div>
<div class="row row-home">
  <div class="col-6">
    <div class="info-box info-box-left">
      <div class="header-and-symbol-inline">
        <i class="fas fa-share fa-3x"></i>
        <h1>Create Lists</h1>
      </div>
      <h3> Share with other people what movies you watch, which podcasts you listen or which are your favorite brands. There are no limits.</h3>
    </div>
  </div>
  <div class="col-6 border-right">
    <div class="info-box">
      <div class="header-and-symbol-inline">
        <i class="fas fa-bell fa-3x"></i>
        <h1>Get Inspired</h1>
      </div>
      <h3>Follow other users activities to get inspiration and see when they add new items to their lists.
      </h3>
    </div>
  </div>
</div>
