<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <h2>1. WHO ARE WE?</h2>
      <p>This website (“Listy.club”) is operated by Emanuel Coen as a side project.
      To the fullest extent permitted by applicable Law, in no event shall the party be liable to you for any SPECIAL, CONSEQUENTIAL, INCIDENTAL, PUNITIVE, OR INDIRECT DAMAGES ARISING from the use of this site.</p>

      <h2>2. PERSONAL DATA WE COLLECT</h2>
      <p>
        We collect the following personal data about you:
        Sign Ups: When becoming a user of our platform, we collect your first and last name and email address. When you sign up via Facebook we also get your Facebook profile image as well as your Facebook ID and use that information to make you a Listy User.

        Settings: When you choose to upload a profile image or add a bio we also save that information.

        User actions: When you create lists, like or comment other users lists, we save these actions and link them back to you.
      </p>
      <h2>3. AUTOMATICALLY COLLECTED DATA</h2>
      <p> We collect some information for analytics purposes, for which we use a third party service</p>
      <p><%= Date.today.year %> Listy</p>
    </div>
  </div>
</div>
