.card{
  margin:30px;
  padding: 10px 20px;
  position: relative;
}

.list-controls {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.list-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.list-controls a:hover {
  color: #D3473C !important
}
.list-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}
