.card{
  margin:30px;
  padding: 10px 20px;
  position: relative;
}

.card-body {
  padding: 0.5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.controls-right {
  margin-top: 15px;
}

// .list-controls {
//   display: flex;
//   position: absolute;
//   bottom: 0px;
//   right: 0px;
// }

.fa-heart {
  color: #657786 !important ;
}

