.row-banner {
  height: 60vh;
}

.banner {
  color: white;
  text-align: center;
  height: 100%;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.row-home {
  height:100%;
  margin: 0px;
}



// mobile : remove margin from boxes when on mobile so that they stack
@media screen and (max-width: 570px) {
    .info-box {
        margin: 10px !important;
        margin-bottom: 3px !important;
    }

    .info-box h1 {
      margin-left: 3px !important;
      text-align: left !important;
    }

    .info-box h3 {
      margin-bottom: 0px !important;
      margin-left: 0px !important;

    }
    .fa-share {
      margin-left: 0px !important;
    }
    .fa-bell {
      margin-left: 0px !important;
    }
}

.fa-bell {
  color: #E6E6E6;
  opacity: 0.5;
  margin-left: 50px;
}

@media screen and (min-width: 1400px) {
    .info-box {
      margin: 50px !important;
    }
}

.border-right {
  border-left: solid 3px #dee2e6;
}

.info-box {
  background: white;
  border: solid 1px #616668;
  margin: 100px;
  padding: 30px;
  box-shadow: 5px 10px #616668;
}


.info-box h1{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-weight: lighter;
  margin-top: 0px !important;
  margin-left: 10px;

}
.info-box h3 {
  font-size: 25px;
  font-weight: lighter;
  color: #848484;
  opacity: 0.8;
  margin-left: 50px;
  margin-bottom: 50px;
}

.info-box-left h3 {
  margin-bottom: 20px !important;

}



.header-and-symbol-inline {
  display: flex;
}


.fa-share {
  color: #E6E6E6;
  opacity: 0.5;
  margin-left: 50px;
}

.fa-bell {
  color: #E6E6E6;
  opacity: 0.5;
  margin-left: 50px;
}


