// in here is the CSS for the show.html.erb of each list. This is how a user views the list of another user
    .element{
    background: #F4F4F4;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    margin-top: 25px;
    }

    .item-footer{
      margin: 5px;
    }
