// in here is the CSS for the show.html.erb of each list. This is how a user views the list of another user
    .normal-card-body{
      border: 1px solid #dce0e0;
      margin-bottom: 20px;
    }

    .url-card-body {
      border: 1px solid #dce0e0;
      display: flex;
    }

    .url-card-image-container {
      width: 40%;
    }

    .url-card-text {
      width: 60%;
      position: relative;
    }

    .url-image {
      width: 95%;
      height: 95%;
      margin-top: 5px;
      margin-left: 5px;
    }

    .url-card-body p {
      font-size: 12px;
    }

    .url-card-url-root {
      bottom: 0;
      margin-bottom: 0px;
    }

    .url-card-body h5 {
      font-size: 16px;
    }

    .item-footer{
      margin: 5px;
    }

    .fas {
      color: #3894BA;
    }

    .card-header{
      text-align: center;
      margin-bottom: 10px;
      background: #3894BA;
      opacity: 0.8;
      color: white;
    }

    .url-link {
      color: #616668;
      border-bottom: solid 1px;
      margin-bottom: 10px;
    }

    .url-link:hover {
      color: #616668;
      opacity: 0.8;
      text-decoration: none;
    }

    .item-description {
      color: black;
      font-size: 16px;
      margin-top: 5px;
    }

    .item-description p {
      padding: 5px !important;
    }

    .counter {
      color: #3894BA;
      font-size: 25px;
    }

    .normal-card-bottom-border {
      color: #616668;
      border-bottom: solid 1px;
      margin-bottom: 10px;
    }

    .item-footer {
      display: flex;
      justify-content: space-between;
    }


    a:hover .fa-heart {
      color: #D3473C !important;
      font-size: 17px;
      transition: all 0.15s ease;
      border-color: transparent;
    }

    a:active .fa-heart {
      color: #D3473C !important;
      font-size: 15px;
    }

    a .fa-heart {
      color: #E6E6E6 ;
    }

    .likes-count {
      font-size: 16px;
      color: #dce0e0;
    }

    .fa-heart.liked {
      color: #D3473C !important;
    }

    @media screen and (max-width: 600px) {
      .card-header h2 {
        font-size: 1.5rem;
      }

      .card {
        margin: 0px;
      }

      .counter {
      font-size: 20px;
      }
    }

