// .header-wrapper.first {
//   border-bottom: solid 1px #CCC;
// }

.feed.feed-settings {
  padding-left: 0px;
  padding-right: 0px;
}

.form-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}
hr {
  border-top: 1px solid #e6ecf0;
}
.header-wrapper h3 {
  font-size: 22px !important;
  font-weight: bold !important;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.header-wrapper.second h3 {
  color: #66757f;
  margin-bottom: 1rem;
}

.profile-settings{
  // border-bottom: solid 1px #CCC;
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 10px;
}
